.my-store-header {
    width: 100%;
}

.my-store-header h2 {
    margin: 0;

    font-size: 20px;
    font-weight: 600;

    color: #222222;
}

.my-store-header p {
    margin: 8px 0 0;

    font-size: 12px;
    font-weight: 400;

    color: #666666;
}