.add-product-card {
    height: 168px;

    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;

    border: 1px solid #eeeeee;
}

.add-product-icon {
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    background: var(--store-primary);
    color: #ffffff;

    font-size: 32px;
    font-weight: 300;

    cursor: pointer;

    padding: 0;
}


.add-product-icon:hover {
    background: var(--store-primary-hover);
}

.add-product-title {
    margin: 0;

    font-size: 16px;
    font-weight: 600;

    color: #222222;

    line-height: 1;
}

.add-product-description {
    margin: 0;

    font-size: 10px;
    font-weight: 400;

    color: #666666;

    text-align: center;

    line-height: 14px;
}