* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}




.seller-dashboard {
    width: 100%;
    max-width: 390px;
    min-height: 1428px;

    margin: 0 auto;

    background: #ECF4C3;

    overflow-x: hidden;
}



.seller-dashboard-content {
    width: 100%;
    min-height: 100vh;

    background: #ECF4C3;
}




@media (max-width: 390px) {

    .seller-dashboard {
        width: 100%;
        max-width: 100%;
    }

    .seller-dashboard-content {
        width: 100%;
    }
}